@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

:root {
  --background: #f8ede3;
  --background-accent: #ede1d6;
  --foreground: #d0b8a8;
  --foreground-accent: #e0cabb;
  --primary: #85586f;
  --primary-dark: #613f58;
  --primary-contrast: #ffffff;
  --black: #000000;
  --white: #ffffff;
}

[data-theme='light'] {
  --background: #000;
  --background-accent: #ede1d6;
  --foreground: #d0b8a8;
  --foreground-accent: #e0cabb;
  --primary: #85586f;
  --primary-dark: #613f58;
  --primary-contrast: #ffffff;
  --black: #000000;
  --white: #ffffff;
}

[data-theme='dark'] {
  --background: #f8ede3;
  --background-accent: #ede1d6;
  --foreground: #d0b8a8;
  --foreground-accent: #e0cabb;
  --primary: #85586f;
  --primary-dark: #613f58;
  --primary-contrast: #ffffff;
  --black: #000000;
  --white: #ffffff;
}

@layer components {
  .btn-base {
    @apply hover:scale-105 transition-all;
  }

  .vertical-ellipsis {
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
