@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground: black;
  --background: white;
}

[data-theme='light'] {
  --foreground: black;
  --background: white;
}

[data-theme='dark'] {
  --foreground: white;
  --background: black;
}
